<app-menu></app-menu>

<!------ Include the above in your HEAD tag ---------->


<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Traducción de Galeradas</h2>
                    <p>Por favor seleccione el archivo a traducir</p>
                </div>
            
                    <form  [formGroup]="formTraduccion">
                    <div class="form-group">

                            <select name="selectPeriodo" formControlName="idEdicion" class="form-control" >
                               <option >Seleccione la edición</option>
                            </select> 
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupFileAddon01" (click)="onUpload()">Subir</span>
                            </div>
                            <div class="custom-file">
                                
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" formControlName="archivo" (change)="onFileChange($event)">
                                  <label class="custom-file-label" for="inputGroupFile01">Seleccione el archivo</label>
                          
                             
                            </div>
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Traducir</button>

                </form>
               
            </div>
        </div>
    </div>
    <div [innerHTML]="documento">gg</div>
    </body>


