<app-menu></app-menu>

<!------ Include the above in your HEAD tag ---------->


<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel" style="text-align: center;">
                    <h2>Traducción de Galeradas</h2>
                    <p>Recuerde validar la estructura del artículo .html o htm a usar</p>
                </div>
<br>
<br>
                <form [formGroup]="formTraduccion">
                    <div class="form-group row">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Seleccione la edición de la revista</label>
                        <div class="col-md-8">
                        <select name="selectEdicion" formControlName="idEdicion" class="form-control" [(ngModel)]="edicionSeleccionada">
                            <option [ngValue]="undefined" disabled  selected> Seleccione una edición </option>
                            <option [ngValue]="edicion" *ngFor="let edicion of ediciones">{{edicion.titulo}}</option>
                        </select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right">Seleccione el archivo .html o .htm a traducir </label>
                        <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01"
                                    (click)="onUpload()">Subir</span>
                            </div>
                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" formControlName="archivo"
                                    (change)="onFileChange($event)">
                                <label class="custom-file-label" for="inputGroupFile01">Seleccione el archivo</label>


                            </div>
                        </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
  


</body>
<div>{{jsonPrueba}}</div>


