<app-menu></app-menu>

    <div class="row bienvenido ">
        <div class="col-sm-12"> 
            
            <h2>SISTEMA WEB PARA LA TRADUCCIÓN AUTOMÁTICA DE GALERADAS HTML A GALERADAS XML/JATS DE LA REVISTA POLITÉCNICA.</h2>
            <h1>Bienvenido</h1>
            <h2>{{usuario.nombres+" "+usuario.primerApellido+" "+usuario.segundoApellido}}</h2>
            <h2>Perfil:Administrador</h2>
            <img src="../../../assets/img/logo_poli_login.png" id="icon" alt="User Icon" />
        </div>
        </div>


