
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  }
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
  }

  .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 10px auto 30px;
      max-width: 58%;
     
      border-color: #f0ad4e;
    }

.modal .modal-dialog {
      width: 80%;
 }

 .modal-lg {
  max-width: 80%;
}

.modal-lg {
  max-width: 80% !important;
}
    