<app-menu></app-menu>

<div class="row">

    <div class="col-sm-12">
        <div class="main-div">
            <div class="panel">
                <h2>Listado de Traducciones Realizadas</h2>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Traducción</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="borrarCampos()">
                <span aria-hidden="true">&times;</span>
              </button> 
            </div>
            <div class="modal-body">
              <form  [formGroup]="formTraduccion">
                <div class="form-group row">
                  <label for="email_address" class="col-md-4 col-form-label text-md-right">Edición</label>
                  <div class="col-md-8">
                    <select name="selectEdicion" formControlName="idEdicion" class="form-control" [(ngModel)]="edicionSeleccionada">
                        <option [ngValue]="edicion" *ngFor="let edicion of ediciones" [selected]="edicion.idEdicion === idEdicion">{{edicion.titulo}}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <div >
                <button type="button" class="btn btn-primary" (click)="guardarEdicionTraduccion()">Guardar</button>
              </div>

              
            </div>
          </div>
        </div>
      </div>
        <table class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Edicion</th>
                    <th>Título Edición</th>
                    <th>Título Artículo</th>
                    <th>Fecha Traduccion</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tr *ngFor='let traduccion of traducciones'>
                <td>{{traduccion.id}}</td>
                <td>{{traduccion.idEdicion}}</td>
                <td>{{traduccion.titulo}}</td>
                <td>{{traduccion.tituloArticulo}}</td>
                <td>{{traduccion.fechaTraduccion}}</td>
                <td class="text-center">
                    <button class="btn btn-primary" (click)=editarTraduccion(traduccion.id,traduccion.idEdicion)> Editar</button></td>
                <td class="text-center">
                    <button class="btn btn-info" (click)=visualizarDocumento(traduccion.xmlTraduccion)> Visualizar
                        documento XML</button></td>
                        <td class="text-center">
                            <button class="btn btn-info" (click)=visualizarDocumentoHTML(traduccion.xmlTraduccion)> Visualizar
                                documento HTML</button></td>
                <td class="text-center">
                    <button class="btn btn-danger" (click)="eliminarTraduccion(traduccion.id)">Eliminar </button></td>
            </tr>
        </table>

    </div>
</div>